<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1fFngll40zIw1hgHpVxD-7KoSjbllAfM</string>
	<key>GCM_SENDER_ID</key>
	<string>1014243195162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.gbc.ToDoList90</string>
	<key>PROJECT_ID</key>
	<string>todolistapp-232ef</string>
	<key>STORAGE_BUCKET</key>
	<string>todolistapp-232ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014243195162:ios:452b84d1011a49145394a3</string>
</dict>
</plist>